<launch>
  <arg name="mav_name" default="drunkdancer" />   
    <node name="mav_nonlinear_mpc" pkg="mav_nonlinear_mpc" type="nonlinear_mpc_node" respawn="true" clear_params="true" output="screen">
      <remap from="odometry" to="/vicon/drunkdancer/odom" />
      <remap from="rc" to="/virtual_rc" />
      <rosparam file="$(find mav_nonlinear_mpc)/resources/nonlinear_mpc_$(arg mav_name).yaml" />
      <rosparam file="$(find mav_disturbance_observer)/resources/disturbance_observer_$(arg mav_name).yaml"/>
      <param name="use_rc_teleop" value="true"/>
      <param name="verbose" value="true" />
      <param name="reference_frame" value="mocap"/>
    </node>
</launch>
